@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    position: relative;
    background: url('/bgWhite.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}